<footer class="footer">
  <div class="container footer-flex">
    <div class="footer-flex-child">&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</div>
    <div class="footer-flex-child">
      <div class="social__icon">
        {% for button in site.social %}
          <a class="social__link" target="_blank" href="{{ button.url }}" target="_blank">
            <i class="{{ button.icon }}"></i>
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="footer-flex-child"></div>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
