<!-- Header -->
<header class={{ page.title }}>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ page.title | markdownify }}</div>
  {%- if site.data.sitetext.header.button -%}
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext.header.buttonlink }}">{{ site.data.sitetext.header.button }}</a>
  {%- endif -%}
    </div>
  </div>
</header>
<!-- End Header -->

<div class="bg-light" style="padding-bottom:60px"></div>
