<section class="bg-light" style="padding-top:0px">
  <div class="container">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <div class="home-button-container">
      <ul>
        {% for button in site.data.sitetext.footer.social %}
        <li>
          <a href="{{ button.url }}" target="_blank">
            <i class="{{ button.icon }}"></i>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="home-content-container">
      {{ content }}
    </div>
  </div>
</section>
