<!-- Portfolio Grid -->
<section class="bg-light page-section" id="{{ site.data.sitetext.nature.section }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.nature.title | markdownify }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.nature.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.nature %}
      {% include project.html %}
	{% endfor %}
    </div>
  </div>
</section>
{% for project in site.nature %}
  {% include new_modals.html %}
{% endfor %}
