<!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="{{ project.category }}{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <div class="button-container">
                  <button class="close-button" data-dismiss="modal" type="button">
                  </button>
                </div>
                <div class="modal-site-title">Lana In Land</div>
                <img class="img-fluid d-block mx-auto" src="{{ site.image_path }}/{{ project.image }}" alt="{{ project.alt }}">
                <h1>{{ project.title }}</h1>
                {{ project.content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Portfolio Modals -->
