$secondary: #ff6161 !default;
$border: #ededed !default;
$success: #8fd896 !default;
$error: #ff6161 !default;

$light-bg-color: #f9f9f9;
$button-dark: #222325;

// Breakpoints
$xs: 0;
$sm: 36em; //576px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 75em; //1200px

// Code
$code-bg-color: #f6f8fa !default;
$code-text-color: #25292e !default;

// Borders
$border-color: #dce6f0 !default;
