---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$site-title: {{ site.data.style.site-title }} !default;
$site-title-hov: {{ site.data.style.site-title-hov }} !default;

$nav: {{ site.data.style.nav }} !default;
$nav-hov: {{ site.data.style.nav-hov }} !default;
$nav-background: {{ site.data.style.nav-background }} !default;

$submenu-background: {{ site.data.style.submenu-background }} !default;

$btt: {{ site.data.style.btt }} !default;
$btt-hov: {{ site.data.style.btt-hov }} !default;
$btt-act: {{ site.data.style.btt-act }} !default;
$btt-size: {{ site.data.style.btt-size }} !default;

$heading: {{ site.data.style.heading }} !default;

$footer-text: {{ site.data.style.footer-text }} !default;
$footer-background: {{ site.data.style.footer-background }} !default;

$section: {{ site.data.style.section }} !default;
$post-title: {{ site.data.style.post-title }} !default;
$h-colour: {{ site.data.style.h-colour }} !default;
$line-colour: {{ site.data.style.line-colour }} !default;

$body-colour: {{ site.data.style.body-colour }} !default;
$body-font-family: {{ site.data.style.body-font-family }} !default;
$body-font-size-mobile: {{ site.data.style.body-font-size-mobile }} !default;
$body-font-size-desktop: {{ site.data.style.body-font-size-desktop }} !default;
$body-font-style: {{ site.data.style.body-font-style }} !default;
$body-font-weight: {{ site.data.style.body-font-weight }} !default;

$h2-colour: {{ site.data.style.h2-colour }} !default;
$h2-font-family: {{ site.data.style.h2-font-family }} !default;
$h2-font-size-mobile: {{ site.data.style.h2-font-size-mobile }} !default;
$h2-font-size-desktop: {{ site.data.style.h2-font-size-desktop }} !default;
$h2-font-style: {{ site.data.style.h2-font-style }} !default;
$h2-font-weight: {{ site.data.style.h2-font-weight }} !default;

$h3-colour: {{ site.data.style.h3-colour }} !default;
$h3-font-family: {{ site.data.style.h3-font-family }} !default;
$h3-font-size-mobile: {{ site.data.style.h3-font-size-mobile }} !default;
$h3-font-size-desktop: {{ site.data.style.h3-font-size-desktop }} !default;
$h3-font-style: {{ site.data.style.h3-font-style }} !default;
$h3-font-weight: {{ site.data.style.h3-font-weight }} !default;

$h4-colour: {{ site.data.style.h4-colour }} !default;
$h4-font-family: {{ site.data.style.h4-font-family }} !default;
$h4-font-size-mobile: {{ site.data.style.h4-font-size-mobile }} !default;
$h4-font-size-desktop: {{ site.data.style.h4-font-size-desktop }} !default;
$h4-font-style: {{ site.data.style.h4-font-style }} !default;
$h4-font-weight: {{ site.data.style.h4-font-weight }} !default;

$link-colour: {{ site.data.style.link-colour }} !default;

$button-colour: {{ site.data.style.button-colour | default: "#fff" }} !default;

$highlight: {{ site.data.style.highlight }} !default;

$primary: {{ site.data.style.white | default: "#fff" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image-index: "{{ site.data.style.header-image.index }}";
$header-image-food: "{{ site.data.style.header-image.food }}";
$header-image-travel: "{{ site.data.style.header-image.travel }}";
$header-image-photography: "{{ site.data.style.header-image.photography }}";
$header-image-design_and_diy: "{{ site.data.style.header-image.design_and_diy }}";
$header-image-sewing: "{{ site.data.style.header-image.sewing }}";
$header-image-art: "{{ site.data.style.header-image.art }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/back_to_top.scss";
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/project.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/footer.scss";
@import "layout/subsection_menu.scss";
@import "layout/home.scss";
@import "layout/padding.scss"
