---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$site-title: {{ site.data.style.site-title }} !default;
$site-title-hov: {{ site.data.style.site-title-hov }} !default;

$nav: {{ site.data.style.nav }} !default;
$nav-hov: {{ site.data.style.nav-hov }} !default;
$nav-background: {{ site.data.style.nav-background }} !default;

$lead-in: {{ site.data.style.lead-in }} !default;
$heading: {{ site.data.style.heading }} !default;

$footer-text: {{ site.data.style.footer-text }} !default;
$footer-background: {{ site.data.style.footer-background }} !default;

$section: {{ site.data.style.section }} !default;
$recipe-title: {{ site.data.style.recipe-title }} !default;
$h-colour: {{ site.data.style.h-colour }} !default;
$line-colour: {{ site.data.style.line-colour }} !default;

$body-colour: {{ site.data.style.body-colour }} !default;
$link-colour: {{ site.data.style.link-colour }} !default;

$button-colour: {{ site.data.style.button-colour }} !default;

$highlight: {{ site.data.style.highlight }} !default;

$primary: {{ site.data.style.white | default: "#fff" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image-index: "{{ site.data.style.header-image.index }}";
$header-image-food: "{{ site.data.style.header-image.food }}";
$header-image-travel: "{{ site.data.style.header-image.travel }}";
$header-image-photography: "{{ site.data.style.header-image.photography }}";
$header-image-design: "{{ site.data.style.header-image.design }}";
$header-image-diy: "{{ site.data.style.header-image.diy }}";
$header-image-art: "{{ site.data.style.header-image.art }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/project.scss";
@import "layout/masthead.scss";
@import "layout/portfolio.scss";
@import "layout/footer.scss";
