#myBtn {
  display: inline-block;
  position: fixed;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  z-index: 1000;
  border: none;
  outline: none;
  color: $btt-colour;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  bottom: 55px;
  right: 5%;
  @include breakpoint($md) {
    bottom: 35px;
    right: 5%;
  }
}

#myBtn:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: $btt-size;
  line-height: 50px;
}

#myBtn:hover {
  color: $btt-hov-colour;
}