// Button Styles
.btn {
  color: $button-colour;
  @include body-font;
  font-size: 12px;
}

// .btn-xl {
//   font-size: 12px;
//   padding: 20px 40px;
// }

.btn-primary {
  background-color: #FFF;
  border-color: $button-colour;
  // position: absolute;
  // left: 50%;
  &:active,
  &:focus,
  &:hover {
    color: $link-colour;
    background-color: #FFF;
    border-color: $link-colour;
  }
  // &:active,
  // &:focus {
  //   box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  // }
}
