// Button Styles
.btn {
  color: $button-colour;
  @include body-font;
  font-size: 12px;
}

// .btn-xl {
//   font-size: 12px;
//   padding: 20px 40px;
// }

.btn-primary {
  background-color: #FFF;
  border-color: $button-colour;
  // position: absolute;
  // left: 50%;
  &:active,
  &:focus,
  &:hover {
    color: $link-colour;
    background-color: #FFF;
    border-color: $link-colour;
  }
  // &:active,
  // &:focus {
  //   box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  // }
}

.button-container {
  width: 100%;
  text-align: center;
}

.close-button {
  display: inline-block;
  background-color: $btt;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  right: 15px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  z-index: 1000;
  border-color: transparent;
}
.close-button::after {
  content: "\f00d";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 30px;
  color: #fff;
}
.close-button:hover {
  cursor: pointer;
  background-color: $btt-hov;
}
.close-button:active {
  background-color: $btt-act;
}
