.label {
  padding: 0px 10px;
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 100px;
  transition: all 0.2s ease;
  @include post-btt-font;

  &:focus,
  &:hover {
    color: $bg-color;
    background-color: darken($link-colour, $link-hover-dim);
    border: 2px solid darken($link-colour, $link-hover-dim);
  }
}