footer {
  @include foot-font;
  border-top: $foot-line-thickness solid $foot-line-colour;
  padding: 2rem;
  margin-top: 3rem;
  a {
    color: $foot-colour;
    border-bottom: 0;
    &:hover,
    &:focus {
      color: darken($link-colour, $link-hover-dim);
      border-bottom: 0;
    }
  }
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer-flex-child {
  flex: 1;
  max-width: 30%;
}

.social__link:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  @include foot-icon;
}






