.home-content-container {
    width: 100%;
    min-height: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    img {
        float: left;
        margin-right: 20px;
        @include home-image;
    }
}

.home-button-container {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: $link-colour;
    a {
      @include home-icon;
      &:hover,
      &:focus {
        color: darken($link-colour, $link-hover-dim);
        text-decoration: none;
        border-bottom: none;
      }
    }
    ul {
      overflow: hidden;
      text-align: center;
      padding-left: 2rem;
    }
    li {
      display: inline-block;
      padding-right: 2rem;
    }
}
  