.home-content-container {
  width: 100%;
  min-height: 100px;
  margin-top: 30px;
  img {
    float: left;
    height: 250px;
    margin-right: 20px;
  }
}

.home-button-container {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: indianred;
  &:hover {
    color: $link-colour;
  }
  a:hover {
    text-decoration: none;
  }
  ul {
    overflow: hidden;
    text-align: center;
    padding-left: 20px;
  }
  li {
    display: inline-block;
    padding-right: 20px;
  }
}
