// Styling for the masthead

@mixin header-main {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 250px;
    padding-bottom: 200px;
    .intro-heading {
      font-size: 45px;
      line-height: 22px;
      margin-bottom: 25px;
      color: $heading;
      @include heading-font;
    }
  }
}

@mixin header-media {
  .intro-text {
    padding-top: 330px;
    padding-bottom: 280px;
    .intro-heading {
      font-size: 65px;
      line-height: 40px;
      margin-bottom: 25px;
      color: $heading;
      @include heading-font;
    }
  }
}

header.masthead {
  background-image: url("#{$header-image-index}");
  @include header-main;
}
@media(min-width:768px) {
  header.masthead {
    @include header-media;
  }
}

header.food {
  background-image: url("#{$header-image-food}");
  @include header-main;
}
@media(min-width:768px) {
  header.food {
    @include header-media;
  }
}

header.travel {
  background-image: url("#{$header-image-travel}");
  @include header-main;
}
@media(min-width:768px) {
  header.travel {
    @include header-media;
  }
}

header.photography {
  background-image: url("#{$header-image-photography}");
  @include header-main;
}
@media(min-width:768px) {
  header.photography {
    @include header-media;
  }
}

header.design_and_diy {
  background-image: url("#{$header-image-design_and_diy}");
  @include header-main;
}
@media(min-width:768px) {
  header.design_and_diy {
    @include header-media;
  }
}

header.sewing {
  background-image: url("#{$header-image-sewing}");
  @include header-main;
}
@media(min-width:768px) {
  header.sewing {
    @include header-media;
  }
}

header.art {
  background-image: url("#{$header-image-art}");
  @include header-main;
}
@media(min-width:768px) {
  header.art {
    @include header-media;
  }
}
