.project-text {

  h4 {
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 70px;
    color: $post-title;
    @include title-font;

    &:after {
      content: "";
      display: block;
      width: 70%;
      margin-top: 15px;
      border-bottom: 0.1px solid $line-colour;
      position: absolute;
      left: 15%;
    }

  }

}
