.submenu-ul {
  overflow: hidden;
  text-align: center;
  padding-left: 20px;
  .submenu-li {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 3px;
    .submenu-a {
      letter-spacing: 1px;
    }
  }
}

.submenu-container {
  background-color: $submenu-background;
  padding-top: 17px;
  font-size: 15px;
  @media(min-width:767px) {
    font-size: 16px;
  }
}
