// Font Mixins

@mixin script-font {
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


@mixin title-font {
  font-family: Didot;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -1px;
}
@mixin nav-font {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 500;
}
@mixin heading-font {
  font-family: Didot;
  font-weight: 600;
}
@mixin section-font {
  font-family: Didot;
  letter-spacing: -1px;
}
@mixin body-font {
  color: $body-colour;
  font-family: $body-font-family;
  font-size: $body-font-size-mobile;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  @media(min-width:767px) {
    font-size: $body-font-size-desktop;
  }
}
@mixin h2-font {
  color: $h2-colour;
  font-family: $h2-font-family;
  font-size: $h2-font-size-mobile;
  font-style: $h2-font-style;
  font-weight: $h2-font-weight;
  @media(min-width:767px) {
    font-size: $h2-font-size-desktop;
  }
}
@mixin h3-font {
  color: $h3-colour;
  font-family: $h3-font-family;
  font-size: $h3-font-size-mobile;
  font-style: $h3-font-style;
  font-weight: $h3-font-weight;
  @media(min-width:767px) {
    font-size: $h3-font-size-desktop;
  }
}
@mixin h4-font {
  color: $h4-colour;
  font-family: $h4-font-family;
  font-size: $h4-font-size-mobile;
  font-style: $h4-font-style;
  font-weight: $h4-font-weight;
  @media(min-width:767px) {
    font-size: $h4-font-size-desktop;
  }
}
