// Global styling for this template
body {
  overflow-x: hidden;
  color: $body-colour;
  @include body-font;
  background-color: $gray-100;
}

strong {
  font-weight: 600;
}

// p {
//   line-height: 1.75;
// }

a {
  color: $link-colour;
  &:hover {
    color: darken($link-colour, 10%);
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $h-colour;
}

.page-section {
  padding: 0 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: $section;
    @include section-font;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    text-transform: none;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $highlight;
  text-shadow: none;
}

::selection {
  background: $highlight;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 80%;
  max-width: 100%;
}
